@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&family=Inconsolata:wght@500&family=Lato:wght@100;300;400;700;900&display=swap");
:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
  --semi-primary-color: #edf2f8;
}

html {
  font-size: 62.5%;
  @media screen and (width>1100px) {
    scroll-snap-type: y mandatory;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

section {
  @media screen and (width>1100px) {
    scroll-snap-align: start;
  }
}

a {
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
}
