@mixin transition {
  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      animation-delay: #{$i * 0.1}s;
    }
  }
}

.app__skills {
  flex: 0.4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 3rem;
}
.app__skills-container {
  flex: 1;

  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 900px) {
    width: 100%;
    flex-direction: column;
  }

  .skills-heading {
    margin-bottom: 0.5rem;
  }
}

.app__skills-list {
  flex: 0.5;
  height: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  margin-right: 2rem;

  @media screen and (max-width: 900px) {
    margin-right: 0;
    justify-content: center;
    align-items: center;
  }

  .skills-item-animation {
    animation-name: skills-animation;
    animation-duration: 0.35s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
}

.app__skills-item {
  @include transition;
  flex-direction: column;
  text-align: center;
  gap: 5px;
  margin: 1rem;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  div {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #fff;

    img {
      width: 50%;
      height: 50%;
    }
    &:hover {
      box-shadow: 0 0 25px #eae9ea;
    }
  }

  .skills-text {
    font-size: 1.16rem;
  }
}

@keyframes skills-animation {
  0% {
    opacity: 0;
    scale: 0;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}
