.app__navbar-menu {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color);

  input {
    position: absolute;
    width: 2.6rem;
    height: 2.6rem;
    z-index: 9;
    opacity: 0;

    cursor: pointer;
  }
  input:checked ~ div {
    transform: translateX(0);
  }
  svg {
    width: 2.6rem;
    height: 2.6rem;
    color: var(--white-color);
  }

  div {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(70rem);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    transition: transform 0.4s ease-in-out;
    width: 68rem;
    height: 100vh;

    z-index: 5;

    padding: 1.5rem;

    background: url("../../../image/bgWhite.png") repeat;
    background-size: cover;
    background-color: var(--white-color);

    box-shadow: 0 0 0 2px rgba(168, 168, 168, 0.15);

    svg {
      width: 3.5rem;
      height: 3.5rem;
      color: var(--secondary-color);
      margin: 0.75rem 1.5rem;
    }

    ul {
      height: 100%;
      width: 100%;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 2.5rem;

      li {
        a {
          color: #2b313f;
          font-size: 1.6rem;
          opacity: 0;

          &:hover {
            color: var(--secondary-color);
          }
        }
        a.visible {
          animation-name: listItemAnimation;
          animation-duration: 0.55s;
          animation-timing-function: linear;
          animation-fill-mode: forwards;
        }
      }
    }
    @media screen and (min-width: 90.1rem) {
      display: none;
    }
  }
  div:focus-within {
    transform: translateX(0);
  }
  @media screen and (min-width: 90.1rem) {
    display: none;
  }
}

//animations

@for $i from 2 through 4 {
  li:nth-child(#{$i}) a.visible {
    animation-delay: #{$i * 0.17}s;
  }
}

li:nth-child(1) a.visible {
  animation-delay: 0.04s;
}

li:nth-child(5) a.visible {
  animation-delay: 1.5s;
}

@keyframes listItemAnimation {
  0% {
    opacity: 0;
    transform: translateX(70rem);
  }
  25% {
    transform: translateX(-1.5rem);
  }

  30% {
    transform: translateY(-0.5rem);
  }

  50% {
    transform: translateX(2rem);
  }

  80% {
    transform: translateY(0.5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
